h1 {
  font-family: 'Noto Serif', serif;
  margin-top: 11px;
}

h2 {
  color: $theme-color-1;
  font-family: 'Noto Serif', serif;
}

.reduction {
  color: red;
  font-family: Montserrat;
  font-style: italic;
}
